<ion-header>
  <ion-navbar>
    <button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title text-center>直播分类</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <div class="layout-nav">
    <div class="nav-header">
      <span data-type="0" class="item navheaderItem cur" (click)="filterLive()">全部<b></b></span>
      <span data-type="1" class="item navheaderItem" *ngFor="let cate1Info of cate1InfoList;let idx=index" (click)="filterLive(cate1Info,idx)">{{cate1Info.cate1Name}}<b></b></span>
    </div>
    <div class="nav-content">
      <a *ngFor="let cate2Info of cate2InfoList" (click)="toLiveList($event, cate2Info)">
        <div class="nav-item">
          <img [src]="cate2Info.icon" alt="">
          <br>
          <span>
          {{cate2Info.cate2Name}}
          </span>
        </div>
      </a>
    </div>
  </div>
</ion-content>
