page-home-menu {
  .list-ios {
    padding-top: 45px;
    .item-block {
      min-height: 2.4rem;
      font-size: 1.45rem;
    }
  }
  .list-md{
    padding-top: 60px;
    .item-block {
      min-height: 2.4rem;
      font-size: 1.45rem;
    }
  }
}
